@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
body{
    font-family: Montserrat;
    text-align: center;
}
.color-box{
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #eee;
}